<main>
  <h1>My Home Page</h1>

  <article>
    <h2>Some Fun Facts</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam, quo. A
      illo et asperiores, ullam impedit iusto, voluptatibus quasi libero
      laudantium fugiat officia harum error temporibus incidunt laborum autem
      voluptates! Sequi tempora provident sint quam commodi distinctio tenetur,
      optio sit recusandae! Quibusdam nam molestias odit iure rerum nulla
      pariatur omnis delectus assumenda provident, saepe suscipit, repellat ad
      quisquam dolorem dignissimos. Harum consequuntur quae alias corporis
      voluptates beatae eveniet? Deserunt modi sed nostrum molestias ullam,
      totam fugiat laudantium numquam magnam dolor quisquam deleniti rerum
      accusamus asperiores dolorem omnis consequuntur explicabo eaque.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, reiciendis
      doloremque. Vero eligendi ea, ad totam aspernatur deserunt laudantium
      placeat autem repellendus fugiat blanditiis quidem numquam excepturi
      magnam sapiente enim. Quam, necessitatibus! Reiciendis, quas ex autem
      iusto voluptatibus architecto sunt atque sapiente illo suscipit voluptatum
      dolore labore incidunt adipisci asperiores maxime, perferendis obcaecati
      pariatur, corrupti nesciunt dolor molestias assumenda. Porro.
    </p>
  </article>
</main>
